%btn{
   position:relative;
   cursor:pointer;
   color:#fff; 
   display:block; 
   background-color:$primary-color;  
   font-size:$base-font-size;
   display:inline-block;
   letter-spacing:2px;
   outline:none;
   margin:$base-font-size 0 $base-font-size $base-font-size;
   @include transition(all 0.5s ease);
   i{
      margin-right:$base-font-size*0.5
   }
   &::after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      @include transition(all 0.5s ease); 
   }

}


.btn-small{
  @extend  %btn;
  font-size:$base-font-size*0.75; 
  padding:$base-font-size*0.1 $base-font-size*1;
}
.btn{
   @extend  %btn;
   font-size:$base-font-size*1;
   padding:$base-font-size*0.2 $base-font-size*1.5;
}

.btn-large{
   @extend  %btn;
  font-size:$base-font-size*2; 
   padding:$base-font-size*0.5 $base-font-size*2;
}


.btn-primary{
    background-color:$primary-color;
    color:#fff;
    &::after{
       border:solid 0px $primary-color;
       @include transition(all 0.5s ease);
    }
    &:hover{
      color:$primary-color;
      background-color:#fff;
       &::after{
         border:solid 5px $primary-color;
       }
    }
}