.index-bg{
  background: url("../images/index-bg.jpg") 1200px 0 no-repeat;
  @include background-size(cover);
  position:relative;
}

ul.list{
  .list-title{
     font-size:$base-font-size*1.5;
     line-height:$base-font-size*3;
     color:$primary-color-dark
  }
  @media #{$medium-and-down} {
    .list-title{
       font-size:$base-font-size*1;
       line-height:$base-font-size*2;
    } 
  }
  .list-sub{
     margin-left:$base-font-size*4;

  }
  .list-sub{
    @media #{$medium-and-down}{
       margin-left:0;
    }
  }
  .list-sub-title{
     font-size:$base-font-size*1;
     line-height:$base-font-size*2;
     color:$gray-color-dark3;
     font-weight:bold;
     span{
        padding:0 $base-font-size;
     }
  }
  .list-content{
     font-size:$base-font-size*1;
     line-height:$base-font-size*2;
     color:$gray-color-dark;
  }
  li{
    margin-bottom:$base-font-size*1;
    display:block;
  }
}


@media #{$large-and-up}{
  .about-container{
      display:none;
  }
}
.title{
	letter-spacing:10px;
	margin:$base-font-size*1;
}


.aphbet{
  letter-spacing:calculateRem(28px);
  font-size:calculateRem(130px);
  font-width:300;
  color:$gray-color;
  span{
     color:$primary-color;
  }
}

@media #{$medium-and-down} {
  .aphbet{
     font-size:calculateRem(24px);
  } 
}

.aphbet-desc{
    font-size:$base-font-size*1.2;
    line-height:$base-font-size*2;
    padding:$base-font-size*2 0;
    color:$primary-color;
    text-align:right;
}

.title-box{
  font-family:'Microsoft JhengHei';
  text-align:center;
  width:calculateRem(220px);
  height:calculateRem(220px);
  text-align:center;
  line-height:calculateRem(40px);
  font-size:calculateRem(20px);
  letter-spacing:calculateRem(5px);
  padding:calculateRem(40px);
  box-sizing: border-box;
  position:fixed;
  right:15%;
  background:$gray-color-light;
  color:#fff
}
@media #{$medium-and-down} {
  .title-box{
    display:none;
  }  
}

@media #{$medium-and-down} {
  .aphbet{
      font-size: 60px; 
   }
   .about-wrapper{
      padding:initial;
   }
}
.text-title{
   color:$gray-color
}

.text-des{
  margin:25px 0 0 25px;
  line-height:$base-font-size*2;
  font-family:'Microsoft JhengHei';
}
.text-y{
  display:inline-block;
  color:$primary-color-dark;
  width:100px;
  margin-right:20px;
}
@media #{$medium-and-down} {
  .text-y{
   display:block;
 }
}

.scroll-spy{
  position:fixed;
  bottom:30%;
  right:10%;
  li:not(:last-child){
    width:2px;
    height:30px;
    background:$gray-color;
    margin-bottom:2px;
    &.active{
       background:$primary-color;
    }
  }

}

@media #{$large-and-up} {
  .scroll-spy{
    right:30%;
  }
}



