include widget/head.pug
body
  include widget/header.pug
  include loading.pug
  include widget/dialog.pug
  include widget/social-icon.pug
  // container
  div.wrapper.index-bg.ltlb-block
   div#about-wrapper.tlb-cell
    section.about-container.row
      div.col.l6.s12.offset-l1
        div
          div.aphbet Jmi<span>W</span>&#214;rk <br/>
          div.aphbet Studio
          h3.aphbet-desc 70% 設計 Desinger <br> 30% 前端 Front End Developer
    //簡介
    section.about-container.row
      div.title-box.ltlb-block
        h2.tlb-cell UI/Web Designer
      div.col.s12.offset-l1       
          ul.list
            li.list-title 
                i.cross 
                span 70% 設計 Desinger (2002-2013)
            li 
              ul.list-sub 
                li.list-sub-title 2002 - 2005 /
                    span 台中技術學院商業設計系學士(畢)
                li.list-sub-title 2006 - 2007 /
                    span  平面設計 起源製版  
                li.list-content 包裝/文宣平面設計	- Flash Photoshop Illustrator
                li.list-sub-title 2007 - 2009 /
                    span  網頁設計 臥龍創意資訊社   
                li.list-content 企業網站/切版 - Flash Photoshop Illustrator Dreamweaver
                li.list-sub-title 2009 - 2011 /
                    span  資深網頁設計 和盟電子商務   
                li.list-content 電子商務視覺設計/切版 - Flash Photoshop Illustrator Dreamweaver 
                li.list-sub-title 2011 - 2012 /
                    span  資深UI設計 曜發科技   
                li.list-content 政府標案視覺設計 - Flash Photoshop Illustrator
    //簡介
    section.about-container.row
      div.title-box.tlb-block
        h2.tlb-cell Front End </br>Developer
      div.col.s12.offset-l1       
          ul.list
            li.list-title 
                i.cross 
                span 30% 前端 Front End Developer (2014-now)
            li 
              ul.list-sub 
                li.list-sub-title 2014 - present /
                    span  前端開發 微程式資訊  
                li.list-content Restful API. HTML5 CSS3 <br/>Sass Jade Gulp Git Sublime<br/>Jquery Javascript PHP(基礎) Wireframe(Illustrator) Boostrap
                li.list-sub-title now - feture /
                    span  未來目標  
                li.list-content  運用設計與程式能力結合在溝通規劃上<br/>朝向可維護程式與給予良好的使用者體驗目標邁進<br/> 



  include widget/footer.pug
  script(type="text/javascript",src="js/index.min.js")


