include widget/head.pug
body
	include widget/header.pug
	include widget/loading.pug
	include widget/dialog.pug
	include widget/social-icon.pug

	.wrapper
		h2.heading-1.page-title 早期設計作品
		// content
		section.row
			// case
			ul#showcaseDesign
	include widget/footer.pug
	script(type="text/javascript",src="js/project.js")  

