include widget/head.pug
body
	include widget/header.pug
	//- include loading.pug
	include widget/dialog.pug
	include widget/social-icon.pug

	.wrapper
		h2.heading-1.page-title 近期作品
		// content
		section.row
			// case
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.showcase-text
					h2.showcase-title.heading-3 2017作品集
					ul.content
						li
							span.text-y 執行項目:
							| 手刻切版/視覺設計
						li
							span.text-y 技    術:
							| JQuery/html/css3/sass/compass/jade/gulp/RWD
						li
							ul
								li
									a(href="https://github.com/jmihuang/jmiworkspace",target="_blank",class="btn btn-primary more-btn")
										i.fa.fa-github
										span Code 

			.showcase.showReveal.col.l6.m12.s12.clearfix
				.case-img(onclick="window.open('https://github.com/jmihuang/jmiworkspace','_blank')")
					img(src='images/work2.png')
					i.case-view-t view
		section.row
			// case
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.showcase-text
					h2.showcase-title.heading-3 ChaBan訂便當系統(前/後台)
					ul.content
						li
							span.text-y 執行項目:
							| wireframe/UI flow規劃/視覺設計
						li
							span.text-y 技    術:
							| Illustrator/Photoshop/Xmind/Invision
						li
							ul.link-icon
								li
									a(href="https://projects.invisionapp.com/share/N78LD2RFS#/screens/188145699",target="_blank",class="btn btn-primary more-btn") 
										i.fa.fa-gg-circle
										span DEMO
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.case-img(onclick="window.open('https://projects.invisionapp.com/d/main#/projects/boards/4294720','_blank')")
					img(src='images/work1.png')
					i.case-view-t view
		section.row
			// case
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.showcase-text
					h2.showcase-title.heading-3 建台興工程行
					ul.content
						li
							span.text-y 執行項目:
							| 套版/視覺設計
						li
							span.text-y 技    術:
							| Jquery/Bootstrap/RWD
						li
							ul.link-icon
								li
									a(href="http://www.snewup.com",target="_blank",class="btn btn-primary more-btn") 
										i.fa.fa-gg-circle
										span DEMO
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.case-img(onclick="window.open('http://www.snewup.com','_blank')")
					img(src='images/work3.png')
					i.case-view-t view
		section.row
			// case
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.showcase-text
					h2.showcase-title.heading-3 喜雀手創
					ul.content
						li
							span.text-y 執行項目:
							| 手刻切版/視覺設計/前後端
						li
							span.text-y 技    術:
							| JQuery/html/css3/sass/compass/gulp/RWD/PHP
						li
							ul.link-icon
								li
									a(href="https://github.com/jmihuang/jmiworkspace",target="_blank",class="btn btn-primary more-btn")
										i.fa.fa-github
										span Code
								li
									a(href="http://jmispace.byethost18.com/index.php",target="_blank",class="btn btn-primary more-btn") 
										i.fa.fa-gg-circle
										span DEMO
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.case-img(onclick="http://jmispace.byethost18.com/index.php','_blank')")
					img(src='images/work4.jpg')
					i.case-view-t view
		section.row
			// case
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.showcase-text
					h2.showcase-title.heading-3 公共自行車官網
					ul.content
						li
							span.text-y 執行項目:
							| 手刻切版/Resful Api串接 (程式已被多人經手修改)
						li
							span.text-y 技    術:
							| JQuery/html/css3/sass/compass/susy/gulp/RWD
						li
							ul.link-icon
								li
									a(href="http://i.youbike.com.tw/cht/index.php",target="_blank",class="btn btn-primary more-btn") 
										i.fa.fa-gg-circle
										span DEMO
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.case-img(onclick="http://i.youbike.com.tw/cht/index.php','_blank')")
					img(src='images/work5.png')
					i.case-view-t view
		section.row
			// case
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.showcase-text
					h2.showcase-title.heading-3 公共自行車手機歡迎頁
					ul.content
						li
							span.text-y 執行項目:
							| 手刻切版/Resful Api串接
						li
							span.text-y 技    術:
							| JQuery/html/css3/svg
						li
							ul.link-icon
								li
									a(href="http://www.youbike.com.tw/index_mobi.html",target="_blank",class="btn btn-primary more-btn") 
										i.fa.fa-gg-circle
										span DEMO
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.case-img(onclick="http://www.youbike.com.tw/index_mobi.html','_blank')")
					img(src='images/work6.png')
					i.case-view-t view
	include widget/footer.pug
