include widget/head.pug
body
	include widget/header.pug
	//- include loading.pug
	include widget/dialog.pug
	include widget/social-icon.pug

	.wrapper
		h2.heading-1.page-title 近期作品
		// content
		section.row
			// case
			.showcase.showReveal.col.l6.m12.s12.clearfix
				.showcase-text
					h2.showcase-title.heading-3 2017作品集
					ul.content
						li
							span.text-y 執行項目:
							| 手刻切版/視覺設計
						li
							span.text-y 技    術:
							| JQuery/html/css3/sass/compass/jade/gulp/RWD
						li
							ul
								li
									a(href="https://github.com/jmihuang/jmiworkspace",target="_blank",class="btn btn-primary more-btn")
										i.fa.fa-github
										span Code 

			.showcase.showReveal.col.l6.m12.s12.clearfix
				.case-img(onclick="window.open('https://github.com/jmihuang/jmiworkspace','_blank')")
					img(src='images/work2.png')
					i.case-view-t view

	include widget/footer.pug
