header 
  ul#scroll-spy.scroll-spy
  // navigation
  nav#nav.nav
    ul
     li: a(href="index.html") About
     li: a(href="project.html") Project
        ul
         li: a(href="project.html") 近期作品
         li: a(href="project_design.html") 早期設計作品
     li: a(href="project.html") Contact
  // burger
  div#hamber-bg.hamber-bg
  a(onclick="bugerActive(this)").hamburger-icon
    span